nav {
    display: flex;
    border-bottom: 2px solid #F3F3F3;
    justify-content: space-around ;       
    align-items: center ;
    padding: 20px; 
    z-index: 999;
    margin-left: 2rem ;
}